*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 20px;

}


.box{

    background-color: green;
    padding: 20px;
    text-align: center;
    color: black;

}


.centerbox{
    background-color: aquamarine;
    padding: 20px;

}


.box-center{

    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: black;
    color: white;
    margin: auto;
    
}