body{
    background-color: black;
}

.box{
    background-color: blue;
    color: white;
    padding: 20px;
    width: 200px;
    height: 200px;
}


.parent{
    display: flex;
    justify-content: space-around;
}


@media (max-width:1600px) {

   .box{
    background-color:orange;
    display: block;
   }
    
}

@media (max-width:1200px) {

   .box{
    background-color:orange;
    display: none;
   }
    
}

@media (max-width:1025px) {

   .box{
    background-color:orange;
    display: none;
   }
    
}

@media (max-width:1024px) {

   .box{
    background-color:orange;
    display: block;
   }
    
}

@media (max-width:769px) {

   .box{
    background-color:orange;
    display: block;
   }
    
}

@media (max-width:768px) {

   .box{
    background-color:orange;
    display: none;
   }
    
}

@media (max-width:601px) {

   .box{
    background-color:orange;
    display: none;
   }
    
}

@media (max-width:600px) {

   .box{
    background-color: aquamarine;
    display: block;
   }
    
}

@media (max-width:481px) {

   .box{
    background-color:orange;
    display: block;
   }
    
}

@media (max-width:480px) {

   .box{
    background-color:black;
    display: none;
   }
    
}

@media (max-width:0px) {

   .box{
    background-color:orange;
    display: none;
   }
    
}